{% extends 'base.html' %}


{% block title %}
    Добавление вопроса
{% endblock %}

{% block body %}
    <div class="container">
        <form action="" method="post">
            <input type=text name="question-subject"><label for="question-subject">Предмет</label><br>
            <input type=text name="question-text"><label for="question-text">Текст вопроса</label><br>
            <input type=text name="question-type"><label for="question-type">Тип вопроса</label><br>
            <input type=text name="question-variant1"><label for="question-variant1">Вариант 1</label><br>
            <input type=text name="question-variant2"><label for="question-variant2">Вариант 2</label><br>
            <input type=text name="question-variant3"><label for="question-variant3">Вариант 3</label><br>
            <input type=text name="question-answer"><label for="question-answer">Ответ</label><br>
            <input type=text name="question-answer-type"><label for="question-answer-type">Типа ответа</label><br>
            <input type="submit">
        </form>
    </div>
{% endblock %}