{% extends 'base.html' %}


{% block title %}
    Добавление вопроса
{% endblock %}

{% block body %}
    <div class="container">
        <form action="" method="post">
            <input type=text name="question-subject"> <span>Subject</span>
            <input type=text name="question-text"> <span>Subject</span>
            <input type=text name="question-type"> <span>Subject</span>
            <input type=text name="question-variant1"> <span>Subject</span>
            <input type=text name="question-variant2"> <span>Subject</span>
            <input type=text name="question-variant3"> <span>Subject</span>
            <input type=text name="question-answer"> <span>Subject</span>
            <input type=text name="question-answer-type"> <span>Subject</span>
            <input type="submit">
        </form>
    </div>
{% endblock %}