{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block body %}

    <div class="text-center">
        <img src="../static/logo_main.png" class="" width="25%"
             height="25%">
    </div>

    <div class="container ">
        <h3 class="col">
            Сегодня остро ощущается нехватка специалистов в социально-экономической сфере, аналитиков, способных
            создавать
            модели функционирования различных экономических, социальных и политических систем. Не меньшая
            заинтересованность
            наблюдается в специалистах, обладающих хорошей инженерной подготовкой, способных создавать современные
            конкурентоспособные программно-аппаратные комплексы для систем 3D-моделирования и визуализации, защиты
            компьютерной информации, ракетно-космических систем и робототехники.
        </h3>
        <h3 class="col my-3">
            Учащийся направления "Информатика, инженерия и математика" – это лицеист, любящий математику, активно
            занимающийся программированием или интересующийся физикой.
        </h3>
        <h3 class="col my-3">
            "izi40" - сайт, который поможет вам подготовиться к поступлению на направеление "Информатика, инженерия и
            математика (МатИнфо)". А еще вы сможете узнать свои шансы на поступление. Калькулятор считает вероятность на основе
            опыта учеников, которые уже поступили в лицей.
        </h3>
        <div class="text-center">
            <a class="btn btn-success" href="/profile">К тестам!</a>
        </div>
    </div>

{% endblock %}