{% extends 'base.html' %}


{% block title %}
    Прохождение теста
{% endblock %}

{% block body %}
    <div class="container">
        <form method="post" action="">
            {% for index in range(test_questions|length) %}
                <div class = "card" style="margin: 5rem auto 5rem">
                    <h1 class="card-header text-center">{{ test_questions[index].questionText }}</h1>
                    {% if types_array[index]== "QuestionRadio" %}
                        <div class="card-body p-5">
                            {% for variant in test_questions[index].questionAnswerVariants %}
                                <div>
                                    <input type="radio" name="{{ "q" + index|string }}" id="{{ "qr" + index|string }}"
                                           value="{{ variant }}">
                                    <label for="{{ "qr" + index|string }}">{{ variant }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if types_array[index] == "QuestionCheckbox" %}
                        <div class="card-body p-5">
                            {% for variant in test_questions[index].questionAnswerVariants %}
                                <div>
                                    <input type="checkbox" name="{{ "q" + index|string }}"
                                           id="{{ "qc" + index|string }}"
                                           value="{{ variant }}">
                                    <label for="{{ "qc" + index|string }}">{{ variant }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if types_array[index] == "QuestionText" %}
                        <div class="card-body p-5">
                            <p> {{ test_questions.index.questionAnswerType }} </p>
                            {% if test_questions[index].questionAnswerType == "string" %}
                                <div>
                                    <input type="text" name="{{ "q" + index|string }}">
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            {#            {{ test_questions.0.questionText }}#}
            <input type="submit" class="btn btn-success">
        </form>
    </div>
{% endblock %}