{% extends 'base.html' %}

{% block title %}
    Выбор теста
{% endblock %}

{% block body %}
    <div class="container">
        <form method="post" action="">
            <div class="p-5">
                <h1>Выберите предмет</h1>
                <select class="form-select" name="subject">
                    <option value="rus">Русский</option>
                    <option value="math">Математика</option>
                    <option value="inf">Информатика</option>
                    <option value="all">Комплексный</option>
                </select>
            </div>
            <div class="p-5">
                <h1>Выберите количество вопросов</h1>
                <span>3</span><input type="range" class="form-range" name="q-num" max="10" min="3" step="1"><span
                    style="float: right">10</span>
            </div>
            <div class="container">
                <h2>Средние результаты по предметам:</h2>
                <h3>Русский: {{ r_rus }}% {% if r_rus < 50 %} (стоит больше решать тесты данного типа) {% endif %}</h3>
                <h3>Математика: {{ r_math }}% {% if r_math < 50 %} (стоит больше решать тесты данного типа) {% endif %}</h3>
                <h3>Информатика: {{ r_inf }}% {% if r_inf < 50 %} (стоит больше решать тесты данного типа) {% endif %}</h3>
                <h3>Комплексный тест: {{ r_all }}% {% if r_all < 50 %} (стоит больше решать тесты данного типа) {% endif %}</h3>
                <input type="submit" class="btn btn-success" value="Начать">
            </div>
        </form>
    </div>

{% endblock %}